# .gitignore

.DS_Store
.Rhistory
.sass-cache
_site
_site_dev
_download
_student
figures/repo-*
data/*.csv
!/data/hsls_small.csv
!/data/hsls_small.dta
!/data/sch_type/*
!/data/ufl_class_times.csv
!/data/hd2007.csv
!/data/ic2007mission.csv
!/data/els_plans.dta
!/data/mapping_api_data.csv