<p>
  {{ site.contact.name }}</br>  
  {{ site.contact.shorttitle }}</br>  
  {{ site.contact.school }}</br>
  <a href="{{ site.contact.url }}" class="iconlink">
    <i class="fas fa-home fa-lg"></i></a> | 
  <a href="{{ site.contact.github.url }}" class="iconlink">
    <i class="fab fa-github fa-lg"></i></a> | 
  <a href="mailto:{{ site.contact.email }}" class="iconlink">
    <i class="far fa-envelope fa-lg"></i></a> | 
  <a href="{{ site.contact.twitter }}" class="iconlink">
    <i class="fab fa-twitter fa-lg"></i></a>
</p>
<p><small>Hosted on GitHub Pages</br>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
