<p>
  {{ site.contact.name }}</br>  
  {{ site.contact.shorttitle }}</br>  
  {{ site.contact.school }}</br>
  <a href="{{ site.contact.url }}" class="iconlink" alt="Personal website">
    <i class="fas fa-home fa-lg"></i></a> | 
  <a href="{{ site.contact.github.url }}" class="iconlink" alt="Github
								profile">
    <i class="fab fa-github fa-lg"></i></a> |
  <a href="{{ site.contact.twitter }}" class="iconlink" alt="Twitter profile">
    <i class="fab fa-twitter fa-lg"></i></a>
</p>
<p>
  <small>
    <a href="https://pages.github.com">GitHub Pages</a> |
    <a href="https://github.com/orderedlist/minimal">Theme</a> |
    <a href="{{ site.baseurl }}/releases/">Releases</a>
  </small>
</p>
