<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax_{{ site.syntax }}.css">
<script defer src="{{ site.baseurl }}/assets/js/all.min.js"></script>
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% if page.mapbox_css %}
{% for version in page.mapbox_css %}
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/{{ version }}/mapbox-gl.css' rel='stylesheet' />
{% endfor %}
{% endif %}
